<!-- <div>
  <button (click)="onButtonClick('b1')">Button 1 - log something</button>
</div>
<div>
  <button (click)="onButtonClick('b2')">Button 2 - log the same thing</button>
</div>
<div>
  <button (click)="onButtonClick('b3')">Button 2 - log the same thing</button>
</div>
<div>
  <button (click)="onButtonClick('b4')">Button 2 - log the same thing</button>
</div> -->

<app-accounts
  *ngFor="let acc of accounts; let i = index"
  [account]="acc"
  [id]=i

  ></app-accounts>


<app-new-accounts class="newAccounts"></app-new-accounts>
